body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-container {
  width: 70vw;
  height: 80vh;
}

.container{
  width: 100px;
  height: 100px;
  background: #090718;
}
/*  */
.content{
  grid-area: home;
  background: #f6f7f9;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

  .footer {
    border-top: 5px solid black;
    background: #fff;
    grid-area: footer;
    display: block;
  
  }
  
  .footer .copyright {
    display: flex;
    padding-left: 2%;
  }
  
  .footer .copyright p {
    color: #090718;
  }

  .header {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-bottom: 2px solid black;
    background-color: #090718;
    color: #FFFFFF;
    grid-area: header;
  }
  
  .header .logo {
    flex-grow: 2;
    display: flex;  
  }
  
  .header .logo a {
    display: block;
    font-size: 60px;
    font-weight: bolder;
    will-change: filter;
    cursor: pointer;
  }
  
  .header .logo h3 {
    display: block;
    flex-basis: 40px;
    margin-left: 10px;
    font-weight: 450;
    text-transform: uppercase;
    will-change: filter;
  
  }
  
  .header .logo span:hover {
    filter: drop-shadow(0 0 25px #646cffaa);
    transform: scale(1.2, 1.2);
  
  }


  .layout {
    width: 100%;
    height: auto;
  }

/* list property */
  .property-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .property-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .property-item .description {
    margin-bottom: 5px;
  }
  

  /* home formulario */

  .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 30%;
    margin-top: 20px;
  }
  
  .form-container form {
    display: flex;
    align-items: center;
  }
  
  .form-container input[type="text"],
  .form-container select {
    margin-right: 10px;
    padding: 5px;
  }
  
  .form-container button {
    padding: 7px 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container input[type="submit"]:hover {
    background-color: #aaa;
  }
  
  .listings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pagination-container {
    display: flex;
  justify-content: center;
  margin-top: 20px;
  align-content: center;
  margin-left: 50%;
  margin-right: 50%;
  }
  /* paginacion */
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pagination-button {
    border: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .pagination-button:hover {
    background-color: #e0e0e0;
  }
  
  .pagination-button.active {
    background-color: #007bff;
    color: #fff;
  }


.property-container {
  display: flex;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding-top: 2%;
    background-color: #f5f5f5;
}


.carousel-container {
  flex: 2;
}

.carousel {
  width: 100%;
  height: 100%;
}

.property-details {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
}
.property-name {
  font-size: 24px;
  font-weight: bold;
}

.property-description {
  margin-top: 10px;
}

.property-info {
  margin-top: 5px;
}
.map-container {
  width: 100%;
}

.property-info-map {
  margin-top: 5px;
  font-weight: bold;
  font-size: x-large;
  margin-left: 6%;
}

.marker-popup {
  max-width: 200px;
  padding: 10px;
}

.popup-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.popup-description {
  margin-bottom: 10px;
}

.popup-info {
  margin-bottom: 5px;
}

.info-label {
  font-weight: bold;
}
